#navbar{
	width: 100%;
	height: 23px;
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 90%;
	background-color: silver;
}
#navbar-container{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	color: black;
}
#navbar-container ul{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 90;
	background-color: silver;
}
#navbar-container ul li{
	float: left;
	padding: 2px 20px 0 0;
	position: relative;
}
#navbar-container ul li span{
	cursor: pointer;
}
#navbar-container ul li ul{
	width: 200px;
	margin:0;
	padding: 0;
	float: left;
	position: absolute;
	display: none;
	top: 23px;
	left: 0;
	background-color: silver;
}
#navbar-container ul li ul li{
	display: block;
	clear: both;
	padding: 5px 10px;
}
